.logo-image {
  width: 80px;
  height: auto;
}

.btn-default {
  border-color: rgba(24,28,33,0.1);
  background: rgba(0,0,0,0);
  color: #4E5155;
}

label.btn {
  margin-bottom: 0;
}

.btn-outline-primary {
  border-color: #26B4FF;
  background: transparent;
  color: #26B4FF;
}

.btn {
  cursor: pointer;
  margin: 0px 0px 10px 5px;
}

.text-light {
  color: #babbbc;
}

.card {
  background-clip: padding-box;
  box-shadow: 0 1px 4px rgba(24,28,33,0.012);
}

.logo-settings-fileinput {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}
