.cabecalho{
    padding: 20px;
    background-color: #333B3F;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 9%), 0 6px 20px 0 rgb(0 0 0 / 9%);
}

form{
    align-items: center;
}

ngx-avatar, img{
    margin-right: 10px;
}

div table {
    margin-top: 30px;
}

i {
    margin-right: 10px;
}

.table th, .table td {
    vertical-align: middle; 
}

table {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 19%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    text-align: center;
    width:  50%;
}

.table-items{
    overflow-x:auto;
    margin-left: auto;
    margin-right: auto;

    max-height: 85%;
    width: 50%;
}

table tbody tr {
    background-color: white;
}

label {
    font-weight: 500;
    color: white;
}

/* Seleção de produto ========================================= */
.selesctionItem {
    color: white;
    border-radius: 20px;
    padding: 1px 15px;
    margin-top: 6px;
    margin-right: 5px;
}

.btn-prod button {
    color: white;
    padding: 15px 20px;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: 700;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 9%), 0 6px 20px 0 rgb(0 0 0 / 9%);
}

.productSelection {
    background-color: #17A2B8;
}

.reasonSelection {
    background-color:  #be46c0;
}
