
<h2 class="d-flex justify-content-between">Famílias    
    <button class="btn btn-success"  *ngIf="!showForm" (click)="showForm = !showForm; loadForm()"><i class="fa fa-plus"></i>Cadastrar</button>
</h2>

<!-- Tabela -->
<div class="table-list">
  <input class="form-control not-visible small-input-search" type="search" placeholder="Nome" (input)="Search('nome', $event.target.value)">
  <table id="myTable" class="table" *ngIf="!showForm">
      <thead class="table-thead thead-dark">
        <tr>
          <th class="table-th" (click)="sortTable(0)">ID</th>
          <th class="table-th" (click)="sortTable(1)">Nome</th>
          <th class="table-th" >Opções</th>
        </tr>
      </thead>
      <tbody class="table__tbody">
        <tr>
          <td class="element-not-visible"><input class="form-control" type="search" placeholder="ID" (input)="Search('id', $event.target.value)"></td>               
          <td class="element-not-visible"><input class="form-control" type="search" placeholder="Nome" (input)="Search('nome', $event.target.value)"></td>
          <th class="element-not-visible"></th>
        </tr>

        <tr class="table-row" *ngFor="let item of tempItemsList">
          <td data-column="ID" class="table-row-td">{{ item?.id }}</td>
          <td data-column="Nome" class="table-row-td">{{ item?.nome }}</td>
          <td class="table-row-td not-visible"><button type="button" class="btn btn-info shadow-button" (click)="updateItem(item)"><i class="fa fa-chevron-circle-down">Visualizar</i></button></td>
          <th class="table-row-td element-not-visible">
              <button type="button" class="btn btn-info mr-2" (click)="updateItem(item)"><i class="fa fa-edit"></i>Editar</button>
              <button type="button" class="btn btn-danger" (click)="showModal('Deletar', item)"><i class="fa fa-trash"></i>Remover</button>
          </th>
        </tr>
      </tbody>
  </table>
</div>
<!-- ========== -->

<!-- Formulario -->
<hr>

<form [formGroup]="itemForm" *ngIf="itemForm && showForm" #eventForm="ngForm">
      
  <input formControlName="id" hidden="true">
  <label>Nome: </label>
  <input class="form-control" type="text" maxlength="100" formControlName="nome">
  <p class="error-msg" *ngIf="itemForm.controls.nome.errors">
    <i class="fa fa-times"></i>
    {{ itemForm.controls.nome.errors.msgErro }}
  </p>

  <div class="row align-items-end">
    <hr>

    <div>
      <button class="btn btn-success ml-1 mt-3 pull-right" (click)="showModal('Salvar', '')"><i class="fa fa-save"></i>Salvar</button>
      <button class="btn btn-warning ml-1 mt-3 pull-right" (click)="showModal('Cancelar edição', '')"><i class="fa fa-window-close"></i>Cancelar</button>
      <button class="btn btn-danger ml-1 mt-3 pull-right" *ngIf="itemForm.controls.id.value" (click)="showModal('Deletar', itemForm.controls.id.value)"><i class="fa fa-trash"></i>Remover</button>
    </div>
  </div>
  
  
  
</form>
<!-- ========== -->

<!-- Lista sem dados -->
<div *ngIf="!showForm && !tempItemsList?.length"  class="alert alert-info " role="alert">
  <h4 class="alert-heading ">Opa !</h4>
  <p>Nenhum resultado foi encontrado.</p>
</div>
<!-- =============== -->


<app-yes-no-message [yesNoMessage]="yesNoMessage" *ngIf="showYesNoMessage"></app-yes-no-message>
