<div class="d-flex background">
    <div class="center">
      <h2 class="d-flex justify-content-between">Produtos    
          <button class="btn btn-success" *ngIf="!showForm" (click)="showForm = !showForm; loadForm()"><i class="fa fa-sign-in"></i>Cadastrar</button>
      </h2>

        <!-- Tabela -->
        <table class="table table-hover" *ngIf="!showForm">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Código</th>
                <th scope="col">Descrição</th>
                <th scope="col">Família</th>
                <th scope="col">Fornecedor</th>
                <th scope="col">Qualidade</th>
                <th scope="col">Unidade de medida</th>
                <th scope="col">NCM</th>
                <th scope="col">CSTE</th>
                <th scope="col">CSTS</th>
                <th scope="col">CFOPE</th>
                <th scope="col">CFOPS</th>
                <th scope="col">Preço de compra</th>
                <th scope="col">preço de venda</th>
                <th scope="col">Opções</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tempItemsList">
                <td>{{ item?.id }}</td>
                <td>{{ item?.codigo }}</td>
                <td>{{ item?.descricao }}</td>
                <td>{{ item?.familia }}</td>
                <td>{{ item?.fornecedor }}</td>
                <td>{{ item?.qualidade }}</td>
                <td>{{ item?.unidade_de_medida }}</td>
                <td>{{ item?.NCM }}</td>
                <td>{{ item?.CSTE }}</td>
                <td>{{ item?.CSTS }}</td>
                <td>{{ item?.CFOPE }}</td>
                <td>{{ item?.CFOPS }}</td>
                <td>{{ item?.preco_compra }}</td>
                <td>{{ item?.preco_venda }}</td>
                <td>
                    <button type="button" class="btn btn-info mr-2" (click)="updateItem(item)"><i class="fa fa-edit"></i>Editar</button>
                    <button type="button" class="btn btn-danger" (click)="showModal('Deletar', item)"><i class="fa fa-trash"></i>Remover</button>
                </td>
              </tr>
            </tbody>
          </table>
        <!-- ========== -->

        <!-- Formulario -->
        <hr>

        <form [formGroup]="itemForm" *ngIf="itemForm && showForm">
          <input formControlName="id" hidden="true">

          <div class="form-row">
            <div class="form-group col-md-2">  
              <label>Código: </label>
              <input class="form-control" type="text" maxlength="100" formControlName="codigo">
            </div>

            <div class="form-group col-md-10">
              <label>Descrição: </label>
              <input class="form-control" type="text" maxlength="100" formControlName="descricao">
            </div>
          </div>
          
          <div class="form-row">
            <div class="form-group col-md-3">
              <label>Preço de compra: </label>
              <input class="form-control" prefix="R$ " mask="separator.2" thousandSeparator="." type="text" maxlength="15" formControlName="preco_compra">
            </div>
            
            <div class="form-group col-md-3">
              <label>Preço de venda: </label>
              <input class="form-control" prefix="R$ " mask="separator.2" thousandSeparator="." type="text" maxlength="15" formControlName="preco_venda">
            </div>

            <div class="form-group col-md-3">
              <label>Unidade de medida: </label>
              <ng-select formControlName="unidade_de_medida" name="unidade_de_medida">
                <ng-option *ngFor="let unidade_de_medida of unidadesDeMedida" [value]="unidade_de_medida">{{unidade_de_medida.sigla}} - {{unidade_de_medida.descricao}}</ng-option>
              </ng-select>
              
            </div>
          </div>
          
          <div class="form-row">
            <div class="form-group col-md-3">
              <label>Família: </label>
              <ng-select formControlName="familia" name="familia">
                <ng-option *ngFor="let familia of familias" [value]="familias">{{familia.nome}}</ng-option>
              </ng-select>
            </div>

            <div class="form-group col-md-5">
              <label>Fornecedor: </label>
              <ng-select formControlName="fornecedor" name="fornecedor">
                <ng-option *ngFor="let fornecedor of fornecedores" [value]="fornecedores">{{ fornecedor.razao_social_nome }} - {{fornecedor.CNPJ_CPF}}</ng-option>
              </ng-select>
            </div>  

            <div class="form-group col-md-3">
              <label>Qualidade: </label>
              <ng-select formControlName="qualidade" name="qualidade">
                <ng-option *ngFor="let qualidade of qualidades" [value]="qualidades">{{qualidade.nome}}</ng-option>
              </ng-select>
            </div>  
          </div>  

          <div class="form-row">
            <div class="form-group col-md-2">
              <label>NCM: <i class="fa fa-question-circle" tooltip="Nomenclatura Comum do Mercosul"></i></label>
              <input class="form-control" mask="0000.00.00" type="text" formControlName="NCM" placeholder="EX: 0000.00.00">
            </div>

            <div class="form-group col-md-2">
              <label>CSTE: <i class="fa fa-question-circle" tooltip="Código de Situação Tributária (Entrada)"></i></label>
              <input class="form-control" type="text" maxlength="10" formControlName="CSTE" placeholder="EX: 000">
            </div>

            <div class="form-group col-md-2">
              <label>CSTS: <i class="fa fa-question-circle" tooltip="Código de Situação Tributária (Saida)"></i></label>
              <input class="form-control" type="text" maxlength="10" formControlName="CSTS" placeholder="EX: 000">
            </div>

            <div class="form-group col-md-3">
              <label>CFOPE: <i class="fa fa-question-circle" tooltip="Código Fiscal de Operações e Prestações (Entrada)"></i></label>
              <ng-select formControlName="CFOPE" name="CFOPE">
                <ng-option *ngFor="let CFOPE of naturezaDasOperacoes" [value]="naturezaDasOperacoes">{{ CFOPE.codigo }} - {{ CFOPE.descricao }}</ng-option>
              </ng-select>
            </div>

            <div class="form-group col-md-3">
              <label>CFOPS: <i class="fa fa-question-circle" tooltip="Código Fiscal de Operações e Prestações (Saida)"></i></label>
              <ng-select formControlName="CFOPS" name="CFOPS">
                <ng-option *ngFor="let CFOPS of naturezaDasOperacoes" [value]="naturezaDasOperacoes">{{ CFOPS.codigo }} - {{ CFOPS.descricao }}</ng-option>
              </ng-select>
            </div>
          </div> 
        
          <div class="row align-items-end">
            <hr>
  
            <div>
              <button class="btn btn-success ml-1 mt-3 pull-right" (click)="showModal('Salvar', '')"><i class="fa fa-save"></i>Salvar</button>
              <button class="btn btn-warning ml-1 mt-3 pull-right" (click)="showModal('Cancelar edição', '')"><i class="fa fa-window-close"></i>Cancelar</button>
              <button class="btn btn-danger ml-1 mt-3 pull-right" *ngIf="itemForm.controls.id.value" (click)="showModal('Deletar', itemForm.controls.id.value)"><i class="fa fa-trash"></i>Remover</button>
            </div>
          </div>
          <p>Form Status: {{ itemForm.status }}</p>       
        </form>
        <!-- ========== -->
        
        <!-- Lista sem dados -->
        <div *ngIf="!showForm && !tempItemsList?.length"  class="alert alert-info " role="alert">
          <h4 class="alert-heading ">Opa !</h4>
          <p>Nenhum resultado foi encontrado.</p>
        </div>
        <!-- =============== -->

    </div>
</div>  

<app-yes-no-message [yesNoMessage]="yesNoMessage" *ngIf="showYesNoMessage"></app-yes-no-message>
