.warning-icon {
    font-size: 80px;
    vertical-align: middle;
}

.yesNoButton{
    width: 90px;
}

.yes-no-body {
    max-height: 350px;
    overflow: auto;
}

ul {
    list-style-type: none;
}

i {
    margin-right: 10px;
}