<h3>Remanufatura</h3>

<!-- form cabeçalho Lote -->
<form [formGroup]="headForm" *ngIf="headForm" class="cabecalho">
  <div class="form-row">
      <div class="form-group col-md-2">
          <label for="lote">Lote</label>
          <input class="form-control" formControlName="lote" type="text" name="lote" [attr.disabled]="true">
      </div>

      <div class="form-group col-md-3">
          <label for="data">Data</label>
          <input class="form-control" formControlName="data" type="text" name="data" [attr.disabled]="true" placeholder="dd/mm/aaaa">
      </div>  

      <div class="form-group col-md-3">
          <label for="inicio">Início</label>
          <input class="form-control" formControlName="inicio" type="text" name="inicio" [attr.disabled]="true" placeholder="--:--:--">
      </div>  

      <div class="form-group col-md-4">
            <label for="situacao">Situação</label>
            <input class="form-control" formControlName="situacao" type="text" name="situacao" [attr.disabled]="true">
      </div>
  </div>

  <div class="form-row">                                                  
      <div class="form-group col-md-6">
          <label for="socio">Sócio Responsável</label>
          <ng-select formControlName="socio" name="socio">
            <ng-component  *ngFor="let socio of socios" >
              <ng-option *ngIf="socio?.situacao === 'Ativo'" [value]="socio">{{socio.nome}}</ng-option>
          </ng-component>
          </ng-select>
      </div>

      <div class="form-group col-md-6">
          <label for="fornecedor">Fornecedor</label>
          <ng-select (change)="preChangeFornecedor($event)" formControlName="fornecedor" name="fornecedor" *ngIf="!selectedFornecedor">
            <ng-option *ngFor="let fornecedor of fornecedores" [value]="fornecedor">{{ fornecedor.razao_social_nome }}</ng-option>
          </ng-select>
          <input id="fornecedor-remanufatura" type="text" *ngIf="selectedFornecedor" value="{{ selectedFornecedor.razao_social_nome }}" tooltip="Não pode ser alterado. Remova os produtos para liberar a edição deste campo" readonly>
      </div>

  </div>
</form>
  
<!-- Lote options -->
<div class="row d-flex justify-content-around btn-prod">
    <button #startBtn type="button" class="btn btn-primary btn-lg" (click)="showModal('Iniciar')"><i class="fa fa-play-circle"></i>Iniciar Produção</button>
    <button #pausetBtn type="button" class="btn btn-warning btn-lg" (click)="showModal('Pausar')"><i class="fa fa-pause-circle"></i>Pausar Produção</button>
    <button #stopBtn type="button" class="btn btn-danger btn-lg" (click)="showModal('Finalizar')"><i class="fa fa-check-circle"></i>Finalizar Produção</button>
    <button #printBtn type="button" class="btn btn-success btn-lg" (click)="showModal('Imprimir')"><i class="fa fa-print"></i>Imprimir Etiquetas</button>
</div>

<!-- Lote items Inicial -->
<div class="table-list table-shadow">
  <h3>Produtos Iniciais</h3>
  <table class="table table-hover">
    <thead class="thead-dark">
        <tr>
          <th>Tambor/Bag</th>
          <th>Produto</th>
          <th>Qualidade</th>
          <th>Quantidade</th>
          <th>Sócio</th>
          <th>Início</th>
          <th>Término</th>
          <!-- <th>Status</th> -->
          <th class="text-right">
            <button class="btn btn-success" (click)="showLoteItemModal('inicial')" tooltip="Adicionar item ao lote" [disabled]="statusProd != 'Iniciada'" #itemsLoteTable>
              <i class="fa fa-plus"></i>Adicionar</button>
          </th>
        </tr>
      </thead>
      <tbody #itemsLoteTable>
        <tr *ngFor="let item of lotItemsInicial; let idx=index;">
          <td class="numBag td-medio" id="numBag-{{idx}}">
            <span>{{ item.numBag }}</span>
          </td>
          <td class="product">
            <span tooltip="Descrição: {{ item.product.prod_desc }}">{{ item.product.prod_desc }}</span>
          </td>
          <td class="quality td-medio">
            <span>{{ item.product.qual_nome }}</span>
          </td>
          <td class="qtn td-medio">
            <span *ngIf="!item.edit">{{ item.qtn }} kg</span>
            <input *ngIf="item?.edit" class="form-control" type="number" [value]="item.qtn" (keyup)="updateQtn('inicial', idx, $event.target.value)" [disabled]="statusProd != 'Iniciada'">
          </td>
          <td class="socio">
            <span tooltip="Nome completo: {{ item.socio.nome }}"> 
              <ngx-avatar *ngIf="!item.socio.foto" name="{{ item.socio.nome }}" initialsSize="2" size="40" class="my-avatar"></ngx-avatar>
              <img [src]="item.socio.foto" *ngIf="item.socio.foto" style="height: 40px; width:40px" 
              class="rounded-circle z-depth-0 image-profile foto-socio" (click)="showImage(item.socio.foto)">
              {{ item.socio.nome }}
            </span>
          </td>
          <td class="time" *ngIf="item.start"> Dia {{ item.start | date:"dd" }} às {{ item.start | date:"HH:mm:ss" }}</td>
          <td class="time" *ngIf="!item.start"></td>
          <td class="time" *ngIf="!item.start"></td>
          <td class="time" *ngIf="item.end && item.start"> Dia {{ item.end | date:"dd" }} às {{ item.end | date:"HH:mm:ss" }}</td>
          <td class="time" *ngIf="!item.end && item.start"> Dia {{ currentTime | date:"dd" }} às {{ currentTime | date:"HH:mm:ss" }}</td>
          
          <td class="options">
            <button *ngIf="item?.edit" class="btn btn-success mr-2" tooltip="Encerrar pesagem e salvar" (click)="saveLoteItem('inicial', idx)" [disabled]="statusProd != 'Iniciada'">
              <i class="fa fa-save"></i>Fechar Tambor/Bag
            </button>
            <button class="btn btn-danger" tooltip="Remover item do lote" (click)="removeLoteItem('inicial', item.numBag)" [disabled]="statusProd === 'Pausada'"><i class="fa fa-trash"></i>Remover</button>
          </td>
        </tr>
      </tbody>
  </table>
</div>

<!-- Lote items Final -->
<div class="table-list table-shadow">
  <h3>Produtos Final</h3>
  <table class="table table-hover">
    <thead class="thead-dark">
        <tr>
          <th>Tambor/Bag</th>
          <th>Produto</th>
          <th>Qualidade</th>
          <th>Quantidade</th>
          <th>Sócio</th>
          <th>Início</th>
          <th>Término</th>
          <!-- <th>Status</th> -->
          <th class="text-right">
            <button class="btn btn-success" (click)="showLoteItemModal('final')" tooltip="Adicionar item ao lote" [disabled]="statusProd != 'Iniciada'" #itemsLoteTable>
              <i class="fa fa-plus"></i>Adicionar</button>
          </th>
        </tr>
      </thead>
      <tbody #itemsLoteTable>
        <tr *ngFor="let item of lotItemsFinal; let idx=index;">
          <td class="numBag td-medio" id="numBag-{{idx}}">
            <span>{{ item.numBag }}</span>
          </td>
          <td class="product">
            <span tooltip="Descrição: {{ item.product.prod_desc }}">{{ item.product.prod_desc }}</span>
          </td>
          <td class="quality td-medio">
            <span>{{ item.product.qual_nome }}</span>
          </td>
          <td class="qtn td-medio">
            <span *ngIf="!item.edit">{{ item.qtn }} kg</span>
            <input *ngIf="item?.edit" class="form-control" type="number" [value]="item.qtn" (keyup)="updateQtn('final', idx, $event.target.value)" [disabled]="statusProd != 'Iniciada'">
          </td>
          <td class="socio">
            <span tooltip="Nome completo: {{ item.socio.nome }}"> 
              <ngx-avatar *ngIf="!item.socio.foto" name="{{ item.socio.nome }}" initialsSize="2" size="40" class="my-avatar"></ngx-avatar>
              <img [src]="item.socio.foto" *ngIf="item.socio.foto" style="height: 40px; width:40px" 
              class="rounded-circle z-depth-0 image-profile foto-socio" (click)="showImage(item.socio.foto)">
              {{ item.socio.nome }}
            </span>
          </td>
          <td class="time" *ngIf="item.start"> Dia {{ item.start | date:"dd" }} às {{ item.start | date:"HH:mm:ss" }}</td>
          <td class="time" *ngIf="!item.start"></td>
          <td class="time" *ngIf="!item.start"></td>
          <td class="time" *ngIf="item.end && item.start"> Dia {{ item.end | date:"dd" }} às {{ item.end | date:"HH:mm:ss" }}</td>
          <td class="time" *ngIf="!item.end && item.start"> Dia {{ currentTime | date:"dd" }} às {{ currentTime | date:"HH:mm:ss" }}</td>
          
          <td class="options">
            <button *ngIf="item?.edit" class="btn btn-success mr-2" tooltip="Encerrar pesagem e salvar" (click)="saveLoteItem('final',idx)" [disabled]="statusProd != 'Iniciada'">
              <i class="fa fa-save"></i>Fechar Tambor/Bag
            </button>
            <button class="btn btn-danger" tooltip="Remover item do lote" (click)="removeLoteItem('final', item.numBag)" [disabled]="statusProd === 'Pausada'"><i class="fa fa-trash"></i>Remover</button>
          </td>
        </tr>
      </tbody>
  </table>
</div>

<!-- Resumo do lote -->
<table class="table table-hover table-shadow">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Tambor/Bag Total <i class="fa fa-question-circle" tooltip="Total de tambor / bag utilizados até o momento na produção atual"></i></th>
        <th scope="col">Quantidade Total <i class="fa fa-question-circle" tooltip="Soma total de cada tambor usados na produção atual"></i></th>
        <th scope="col">Tempo Pausado <i class="fa fa-question-circle" tooltip="Tempo total de pausas (Tempo atualizado ao finalizar uma pausa)"></i></th>
        <th scope="col">Tempo Decorrido <i class="fa fa-question-circle" tooltip="Este tempo não inclue pausar"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ totBag }}</td>
        <td>{{ totQtn }} kg</td>
        <td>
          <span *ngIf="totalTimeBreak && statusProd !== 'Pausada' ">{{totalTimeBreak.hours + ':' + totalTimeBreak.minutes + ':' + totalTimeBreak.seconds
            }}</span>
          <span *ngIf="!totalTimeBreak && statusProd !== 'Pausada'">Não ocorreram pausas</span>
          <span *ngIf="statusProd === 'Pausada'">Remanufatura pausada</span>
        </td>
        <td>
          <span *ngIf="totalTimeProduction">{{totalTimeProduction.hours + ':' + totalTimeProduction.minutes + ':' + totalTimeProduction.seconds
            }}</span>              
        </td>
      </tr>
    </tbody>
</table>

<table class="table table-hover table-shadow">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Observações <i class="fa fa-question-circle" tooltip="Adicione aqui, informações que achar importante sobre esta produção"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <textarea class="form-control" name="observation" rows="3" [(ngModel)]="observation" (keyup)="updateObs()" placeholder="Digite suas observações sobre a remanufatura...."></textarea>
        </td>
      </tr>
    </tbody>
</table>


<app-yes-no-message [yesNoMessage]="yesNoMessage" *ngIf="showYesNoMessage"></app-yes-no-message>

<ng-template #pauseScreen>
  <div class="modal-header modal-header text-dark">
      <h4 class="modal-title pull-left"> Pausar Produção</h4>
      <button type="button" class="close pull-right" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <div class="row pause-screen-body">
          <div class="col pt-2">
              <p class="font-weight-bold">Selecione o motivo da pausa</p>
              <div class="form-group col">
                <ng-select [items]="motivosDeParada"
                  [virtualScroll]="true"
                  bindLabel="motivo"
                  bindValue="id"
                  placeholder="Motivo de parada"
                  [(ngModel)]="selectedMotivo">
                </ng-select>
            </div>
          </div>
      </div>
      <div class="mt-3 text-center">
          <button type="button" class="btn btn btn-danger mr-2 yesNoButton" id="btn-no" (click)="modalRef.hide()"><i class="fa fa-times-circle"></i>Cancelar</button>
          <button type="button" class="btn btn btn-success mr-2 yesNoButton" id="btn-yes" (click)="pauseProduction()"><i class="fa fa-check-circle"></i>Salvar</button>
      </div>
  </div>
</ng-template>

<ng-template #loteItemScreen>
  <div class="modal-header modal-header text-dark">
      <h4 class="modal-title pull-left"> Item do Lote</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <div class="row pause-screen-body">
          <div class="col pt-2">
              <p class="font-weight-bold">Selecione os seguintes campos para adicionar um item ao lote:</p>
              <div class="form-group col">
                <form [formGroup]="loteItemForm" *ngIf="loteItemForm">
                  <p for="product"> Produto:
                    <i class="fa fa-question-circle" tooltip="Apenas produtos pertencentes ao fornecedor dessa remanufatura"></i>
                  </p>
                  <ng-select formControlName="product" name="product">
                    <ng-component *ngFor="let produto of produtos">
                      <ng-component *ngIf="!selectedFornecedor">  
                        <ng-option [value]="produto"> 
                          <span class="productOption productSelection selesctionItem"> {{produto.prod_desc}} </span> 
                          <span class="productOption reasonSelection selesctionItem"> {{produto.qual_nome}} </span> 
                          <!-- <span class="productOption companySelection selesctionItem"> {{ produto.fornecedor.razao_social_nome }} </span> -->
                        </ng-option>
                      </ng-component>

                     <ng-option *ngIf="selectedFornecedor" [value]="produto">
                      <span class="productOption productSelection selesctionItem"> {{produto.prod_desc}} </span> 
                      <span class="productOption reasonSelection selesctionItem"> {{produto.qual_nome}} </span>                       
                     </ng-option>
                   </ng-component>
                  </ng-select>

                  <p for="fornecedor">Socio:
                    <i class="fa fa-question-circle" tooltip="Apenas sócios ativos aparecem aqui"></i>
                  </p>
                  <ng-select formControlName="socio" name="socio">
                    <ng-component  *ngFor="let socio of socios" >
                      <ng-option *ngIf="socio?.situacao === 'Ativo'" [value]="socio">
                        <ngx-avatar *ngIf="!socio?.foto" name="{{ socio?.nome }}" initialsSize="2" size="30"></ngx-avatar>
                        <img *ngIf="socio?.foto" src="{{ socio?.foto }}" class="rounded-circle z-depth-0 foto-socio" height="30" width="30" alt="">
                        {{socio.nome}}
                      </ng-option>
                    </ng-component>
                  </ng-select>
                </form>
            </div>               
          </div>
      </div>
      <div class="mt-3 text-center">
          <button type="button" class="btn btn btn-danger mr-2 yesNoButton" id="btn-no" (click)="modalRef.hide()"><i class="fa fa-times-circle"></i>Cancelar</button>
          <button type="button" class="btn btn btn-success mr-2 yesNoButton" id="btn-yes" (click)="addLoteItem()"><i class="fa fa-check-circle"></i>Salvar</button>
      </div>
  </div>
</ng-template>

<!-- Modal de imagem -->
<app-view-image [viewImage]="viewImage" *ngIf="showModalImage"></app-view-image>

<!-- Sucesso em salvar remanufatura -->
<div class="panel" id="success">
  <div class="panel__content">
    <div class="success-animation">
      <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
    </div>
    <a>
      Finalizado com sucesso.
    </a>
  </div>
</div>

<!-- <div>
  <a (click)="teste()">Sucesso</a> 
</div> -->
