<div class="d-flex background">
    <div class="center">
      <h2 class="d-flex justify-content-between">Socios   
        <button class="btn btn-success" *ngIf="!showForm" (click)="showForm = !showForm; loadForm()"> <i class="fa fa-sign-in"></i>  Cadastrar</button>
    </h2>

        <!-- Tabela -->
        <table class="table table-hover" *ngIf="!showForm">
            <thead class="thead-dark">
              <tr>
                <th scope="col"></th> <!-- Foto do usuario -->
                <th scope="col">ID</th>
                <th scope="col">Matrícula</th>
                <th scope="col">Nome</th>
                <th scope="col">Data de nascimento</th>
                <th scope="col">RG</th>
                <th scope="col">Data de emissão</th>
                <th scope="col">Local de emissão</th>
                <th scope="col">Orgão expedidor</th>
                <th scope="col">CPF</th>
                <th scope="col">Título de eleitor</th>
                <th scope="col">PIS/PASEP</th>
                <th scope="col">NIT</th>
                <th scope="col">Nome da Mãe</th>
                <th scope="col">Nome do Pai</th>
                <th scope="col">Endereço</th>
                <th scope="col">Número</th>
                <th scope="col">Complemento</th>
                <th scope="col">UF</th>
                <th scope="col">Cidade</th>
                <th scope="col">Telefone</th>
                <th scope="col">Email</th>
                <th scope="col">Data de admissão</th>
                <th scope="col">Data de demissão</th>
                <th scope="col">Situação</th>
                <th scope="col">Opções</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tempItemsList">
                  <tr *ngFor="let item of tempItemsList">
                    <td></td>
                    <td>{{ item?.id }}</td>
                    <td>{{ item?.matricula }}</td>
                    <td>{{ item?.nome }}</td>
                    <td>{{ item?.data_de_nascimento }}</td>
                    <td>{{ item?.RG }}</td>
                    <td>{{ item?.data_emissao }}</td>
                    <td>{{ item?.local_emissao }}</td>
                    <td>{{ item?.orgao_expedidor }}</td>
                    <td>{{ item?.CPF }}</td>
                    <td>{{ item?.titulo_de_Eleitor }}</td>
                    <td>{{ item?.PIS_PASEP }}</td>
                    <td>{{ item?.NIT }}</td>
                    <td>{{ item?.nome_da_Mae }}</td>
                    <td>{{ item?.nome_do_Pai }}</td>
                    <td>{{ item?.endereco }}</td>
                    <td>{{ item?.numero }}</td>
                    <td>{{ item?.complemento }}</td>
                    <td>{{ item?.UF }}</td>
                    <td>{{ item?.cidade }}</td>
                    <td>{{ item?.telefone }}</td>
                    <td>{{ item?.email }}</td>
                    <td>{{ item?.data_de_admissao }}</td>
                    <td>{{ item?.data_de_demissao }}</td>
                    <td>{{ item?.situacao }}</td>
                <td>
                    <button type="button" class="btn btn-info mr-2" (click)="updateItem(item)"><i class="fa fa-edit"></i>Editar</button>
                    <button type="button" class="btn btn-danger" (click)="showModal('Deletar', item)"><i class="fa fa-trash"></i>Remover</button>
                </td>
              </tr>
            </tbody>
        </table>
        <!-- ========== -->

        <!-- Formulario -->
        <hr>

        <form [formGroup]="itemForm" *ngIf="itemForm && showForm">
          <input formControlName="id" hidden="true">
          
          <div class="form-row">
            <div class="form-group col-md-2">
              <label>Matrícula: </label>
              <input class="form-control" type="text" maxlength="10" formControlName="matricula">
            </div>

            <div class="form-group col-md-6">
              <label>Nome: </label>
              <input class="form-control" type="text" maxlength="100" formControlName="nome">
            </div>

            <div class="form-group col-md-2">
              <label>Data de nascimento: </label>
              <input class="form-control" type="date" maxlength="15" formControlName="data_de_nascimento">
            </div>

            <div class="form-group col-md-2">
              <label>Situação: </label>
              <input class="form-control" type="text" maxlength="100" formControlName="situacao">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-5">
              <label>Email: </label>
              <input class="form-control" type="email" maxlength="100" formControlName="email" placeholder="Ex: exemplo@email.com">
            </div>

            <div class="form-group col-md-3">
              <label>Telefone: </label>
              <input class="form-control" mask="(00) 0000-0000||(00) 00000-0000" type="text" formControlName="telefone" placeholder="Ex: (19) 9999-9999">
            </div>

            <div class="form-group col-md-2">
              <label>Data de admissão: </label>
              <input class="form-control" type="date" maxlength="100" formControlName="data_de_admissao">
            </div>

            <div class="form-group col-md-2">
              <label>data de demissão: </label>
              <input class="form-control" type="date" maxlength="100" formControlName="data_de_demissao">
            </div>
          </div>
   
          <div class="form-row">
            <div class="form-group col-md-2">
              <label>CPF: </label>
              <input class="form-control" mask="000.000.000-00" type="text" formControlName="CPF" placeholder="EX: 999.999.999-99">
            </div>

            <div class="form-group col-md-2">
              <label>RG: </label>
              <input class="form-control" mask="00.000.000-0" type="text" formControlName="RG" placeholder="EX: 99.999.999-9">
            </div>

            <div class="form-group col-md-2">
              <label>Data emissão: </label>
              <input class="form-control" type="date" maxlength="100" formControlName="data_emissao">
            </div>
            
            <div class="form-group col-md-3">
              <label>Local emissao: </label>
              <input class="form-control" type="text" maxlength="100" formControlName="local_emissao">
            </div>

            <div class="form-group col-md-2">
              <label>Orgao expedidor: </label>
              <input class="form-control" type="text" maxlength="100" formControlName="orgao_expedidor">
            </div>

          </div>

          <div class="form-row">
            <div class="form-group col-md-3">
              <label>Título de eleitor: </label>
              <input class="form-control" type="text" maxlength="100" formControlName="titulo_de_Eleitor">
            </div>

            <div class="form-group col-md-3">
              <label>PIS/PASEP: </label>
              <input class="form-control" type="text" maxlength="100" formControlName="PIS_PASEP">
            </div>

            <div class="form-group col-md-3">
              <label>NIT: </label>
              <input class="form-control" type="text" maxlength="100" formControlName="NIT">
            </div>
          </div>

  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Nome da mãe: </label>
              <input class="form-control" type="text" maxlength="100" formControlName="nome_da_Mae">
            </div>

            <div class="form-group col-md-6">
              <label>Nome do pai: </label>
              <input class="form-control" type="text" maxlength="100" formControlName="nome_do_Pai">
            </div>
          </div>
  

          <div class="form-row">
            <div class="form-group col-md-5">
              <label>Endereço: </label>
              <input class="form-control" type="text" maxlength="100" formControlName="endereco">
            </div>

            <div class="form-group col-md-2">
              <label>Número: </label>
              <input class="form-control" type="text" maxlength="100" formControlName="numero">
            </div>

            <div class="form-group col-md-5">
              <label>Complemento: </label>
              <input class="form-control" type="text" maxlength="100" formControlName="complemento">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-5">
              <label>Cidade: </label>
              <input class="form-control" type="text" maxlength="100" formControlName="cidade">
            </div>

            <div class="form-group col-md-2">
              <label>UF: </label>
              <input class="form-control" type="text" maxlength="100" formControlName="UF">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-3">
              <label>Perfil: </label>
              <input class="form-control" type="text" maxlength="100" formControlName="perfil">
            </div>

            <div class="form-group col-md-8">
              <label>Foto: </label>
              <input class="form-control" type="file" accept="image/*" formControlName="foto">
            </div>
          </div>

          <div class="row align-items-end">
            <hr>
  
            <div>
              <button class="btn btn-success ml-1 mt-3 pull-right" (click)="showModal('Salvar', '')"><i class="fa fa-save"></i>Salvar</button>
              <button class="btn btn-warning ml-1 mt-3 pull-right" (click)="showModal('Cancelar edição', '')"><i class="fa fa-window-close"></i>Cancelar</button>
              <button class="btn btn-danger ml-1 mt-3 pull-right" *ngIf="itemForm.controls.id.value" (click)="showModal('Deletar', itemForm.controls.id.value)"><i class="fa fa-trash"></i>Remover</button>
            </div>
          </div>
          <p>Form Status: {{ itemForm.status }}</p>
        </form>
        <!-- ========== -->

        <!-- Lista sem dados -->
        <div *ngIf="!showForm && !tempItemsList?.length"  class="alert alert-info " role="alert">
          <h4 class="alert-heading ">Opa !</h4>
          <p>Nenhum resultado foi encontrado.</p>
        </div>
        
        <!-- =============== -->
    </div>

</div>  

<app-yes-no-message [yesNoMessage]="yesNoMessage" *ngIf="showYesNoMessage"></app-yes-no-message>