/* Tabela =============================== */

th,td {
    white-space: nowrap;
}

.table-list {    
    overflow-x:auto;
    margin-left: auto;
    margin-right: auto;
}

.table th, .table td {
    vertical-align: middle;
    /* padding: 15px;
    width:20%; */
}

/* thead, tbody{
    display: block;  
}

tbody{
    overflow-y: scroll;
    min-height: 410px;
    max-height: 410px;
} */



/* Status do Sócio ====================== */
.table-row--red {
    background-color: #f7000029;
    border-radius: 20px;
    padding: 8px
}

.table-row--green {
    background-color:  #ecfaeb;
    border-radius: 20px;
    padding: 10px
}

.status:before{
    content: '';
    margin-bottom: 0;
    width: 9px;
    height: 9px;
    display: inline-block;
    margin-right: 7px;
    border-radius: 50%; 
}

.status--red:before{
    background-color: #dc3545;
}
  
.status--red{
    color:#dc3545;
}
  

.status--green:before{
    background-color: #37c93a;
}
.status--green{
    color: #37c93a;
}

/* Circulos coloridos ================= */
.circle {
border-radius: 50%;
width: 200px;
height: 200px;
}

.circle .blue {
background-color: #00c0f1;
}

.circle .green {
background-color: #add036;
}

.circle .red {
background-color: #ec2426;
}

.circle .yellow {
background-color: #ffc116;
}