/* Status do Sócio ====================== */
.table-row--red {
    background-color: #f7000029;
    border-radius: 20px;
    padding: 8px
}

.table-row--green {
    background-color:  #ecfaeb;
    border-radius: 20px;
    padding: 10px
}

.status:before{
    content: '';
    margin-bottom: 0;
    width: 9px;
    height: 9px;
    display: inline-block;
    margin-right: 7px;
    border-radius: 50%; 
}

.status--red:before{
    background-color: #dc3545;
}
  
.status--red{
    color:#dc3545;
}
  

.status--green:before{
    background-color: #37c93a;
}
.status--green{
    color: #37c93a;
}
