<h3>Relatórios</h3>

<!-- form cabeçalho -->
<div class="cabecalho">
    <form [formGroup]="headForm">
        <div class="form-row">
            
            <div class="form-group col-md-3"> 
                <label for="tipo_relatorio">Tipo do Relatório</label>                   
                <select class="custom-select">
                    <option selected>Selecione um Relatório</option>
                    <option value="1">Relatório 1</option>
                    <option value="2">Relatório 2</option>
                    <option value="3">Relatório 3</option>
                </select>
            </div>  

            <div class="form-group col-md-3"> 
                <label for="tipo_material">Tipo do Material</label>                   
                <select class="custom-select">
                    <option selected>Selecione um Material</option>
                    <option value="1">Plástico</option>
                    <option value="2">Vidro</option>
                    <option value="3">Metal</option>
                    <option value="4">Papel</option>

                </select>
            </div>  

            <div class="form-group col-md-3">
                <label for="data">Data Início</label>
                <input class="form-control" formControlName="data" type="text" name="data" [attr.disabled]="true" placeholder="dd/mm/aaaa">
            </div>  

            <div class="form-group col-md-3">
                <label for="data">Data Término</label>
                <input class="form-control" formControlName="data" type="text" name="data" [attr.disabled]="true" placeholder="dd/mm/aaaa">
            </div>  
        </div>
    </form>
</div>
    
<!-- ============== -->
<div class="row d-flex justify-content-around btn-prod">
    <button type="button"  class="btn btn-success btn-lg"><i class="fa fa-print"></i>Gerar Relatório</button>
    <button type="button"  class="btn btn-primary btn-lg"><i class="fa fa-play-circle"></i>Baixar Relatório</button>
</div>

<div class="cabecalho col-md-12 center"> 
    <label for="data">Lugarzin do PDF</label>
</div>

       