<div class="d-flex background">
    <div class="center">
      <h2 class="d-flex justify-content-between">Condições de pagamento    
        <button class="btn btn-success" *ngIf="!showForm" (click)="showForm = !showForm; loadForm()"> <i class="fa fa-sign-in"></i>  Cadastrar</button>
    </h2>

        <!-- Tabela -->
        <table class="table table-hover" *ngIf="!showForm">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Descrição</th>
                <th scope="col">Opções</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tempItemsList">
                <td>{{ item?.id }}</td>
                <td>{{ item?.descricao }}</td>
                <td>
                    <button type="button" class="btn btn-info mr-2" (click)="updateItem(item)"><i class="fa fa-edit"></i>Editar</button>
                    <button type="button" class="btn btn-danger" (click)="deleteItem(item.id)"><i class="fa fa-trash"></i>Remover</button>
                </td>
              </tr>
            </tbody>
          </table>
        <!-- ========== -->

        <!-- Formulario -->
        <div class="row align-items-start">
          <form [formGroup]="itemForm" *ngIf="itemForm && showForm">
                
            <input formControlName="id" hidden="true">
            <label>Descrição: </label>
            <input class="form-control" type="text" maxlength="100" formControlName="descricao">
  
          </form>
        </div>
        <div class="row align-items-end">
          <hr>

          <div>
            <button class="btn btn-success ml-1 mt-3 pull-right" (click)="createUpdateItem()"><i class="fa fa-save"></i>Salvar</button>
          </div>
        </div>
        <!-- ========== -->

    </div>
</div>  

<app-yes-no-message [yesNoMessage]="yesNoMessage" *ngIf="showYesNoMessage"></app-yes-no-message>