<h2 class="d-flex justify-content-between">Vendas
  <button class="btn btn-success" *ngIf="!showForm" (click)="showForm = !showForm; loadForm()"><i
      class="fa fa-plus"></i>Nova venda</button>
</h2>

<!-- Tabela -->
<div class="table-list">
  <table id="myTable" class="table" *ngIf="!showForm">
    <thead class="table-thead thead-dark">
      <tr>
        <th class="table-th" (click)="sortTable(6)">Data</th>
        <th class="table-th" (click)="sortTable(2)">Vendedor</th>
        <th class="table-th" (click)="sortTable(3)">Cliente</th>
        <th class="table-th" (click)="sortTable(4)">Forma de pagamento</th>
        <th class="table-th" (click)="sortTable(5)">Produtos</th>
        <th class="table-th"></th>
      </tr>
    </thead>
    <tbody class="table__tbody">
      <tr>
        <td class="element-not-visible"><input class="form-control" type="search" placeholder="Data"
            (input)="Search('data_emissao', $event.target.value)"></td>
        
        <td class="element-not-visible"><input class="form-control" maxlength="100" type="search" placeholder="Vendedor"
            (input)="Search('nome', $event.target.value)"></td>

        <td class="element-not-visible"><input class="form-control" maxlength="100" type="search" placeholder="Cliente"
            (input)="Search('nome', $event.target.value)"></td>

        <td class="element-not-visible"><input class="form-control" maxlength="100" type="search" placeholder="Forma de pagamento"
            (input)="Search('nome', $event.target.value)"></td>
        <th class="element-not-visible"></th>
      </tr>

      <tr [ngClass]="item?.situacao === 'Ativo' ? 'table-row' : ' table-row table-row--red'"
        *ngFor="let item of tempItemsList">
        <td data-column="Nascimento" class="table-row-td element-not-visible">
          {{ reverseStringDate(item?.data_de_nascimento) | mask: 'd0/M0/0000' }}</td>
        <td data-column="Nome" class="table-row-td">{{ item?.nome }}</td>
        <td data-column="Nome" class="table-row-td">{{ item?.nome }}</td>
        <td data-column="Nome" class="table-row-td">{{ item?.nome }}</td>
        <td class="table-row-td"><button type="button" class="btn btn-info shadow-button"
          (click)="viewProducts(item)"><i class="fa fa-chevron-circle-down"> Visualizar</i></button></td>
      </tr>
    </tbody>
  </table>
</div>
<!-- ========== -->

<!-- Formulario -->
<!-- <hr> -->
<form [formGroup]="itemForm" *ngIf="itemForm && showForm" #eventForm="ngForm">
  <input formControlName="id" hidden="true">

  <div class="form-row">

    <div class="col-md-9">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Vendedor: </label>
          <input class="form-control" type="text" maxlength="100" formControlName="nome">
          <p class="error-msg" *ngIf="itemForm.controls.nome.errors">
            <i class="fa fa-times"></i> {{ itemForm.controls.nome.errors.msgErro }}
          </p>
        </div>

        <div class="form-group col-md-4">
          <label>Cliente: </label>
          <input class="form-control" type="text" maxlength="100" formControlName="nome">
          <p class="error-msg" *ngIf="itemForm.controls.nome.errors">
            <i class="fa fa-times"></i> {{ itemForm.controls.nome.errors.msgErro }}
          </p>
        </div>

        <div class="form-group col-md-3">
          <label>Forma de pagamento: </label>
          <ng-select formControlName="perfil" name="perfil">
            <ng-option *ngFor="let profile of profiles " [value]="profile.profile">
              <span [ngClass]="{ 'profile-blue': profile?.profile === 'Administrador', 
                                'profile-orange': profile?.profile === 'Usuário',
                                'profile-red': profile?.profile === 'Sem acesso'}">
                {{profile.profile}}
              </span>
            </ng-option>
          </ng-select>
          <p class="error-msg" *ngIf="itemForm.controls.perfil.errors">
            <i class="fa fa-times"></i> {{ itemForm.controls.perfil.errors.msgErro }}
          </p>
        </div>

      </div>
    </div>
  </div>

  <hr>
  <div class="wrap cf">
    <div class="heading cf">
      <h1>Produtos da venda</h1>
      <a href="#" class="continue">Adicionar produto</a>
    </div>
    <div class="cart">
      <ul class="cartWrap">
        <li class="items odd">       
          <div class="infoWrap"> 
              <div class="cartSection">
                <p class="itemNumber">#10001</p>
                <h3>Latinha</h3>     
                <p> <input type="text" class="qty"/> x R$15,00</p>       
                <p class="stockStatus">Em estoque</p>
              </div>  
                
              <div class="prodTotal cartSection">
                <p>R$15,00</p>
              </div>
              <div class="cartSection removeWrap">
                <a class="remove">x</a>
              </div>
          </div>
        </li>
  
        <li class="items even">       
          <div class="infoWrap"> 
            <div class="cartSection">   
              <p class="itemNumber">#10002</p>
              <h3>Metal</h3>    
              <p><input type="text" class="qty"/> x R$5,00</p>      
              <p class="stockStatus">Em estoque</p>
            </div>  
          
            <div class="prodTotal cartSection">
              <p>R$5,00</p>
            </div>
              <div class="cartSection removeWrap">
              <a class="remove">x</a>
            </div>
          </div>
        </li>
        
        <li class="items odd">  
          <div class="infoWrap"> 
            <div class="cartSection">           
              <p class="itemNumber">#10003</p>
              <h3>Papelão A25</h3>       
              <p> <input type="text" class="qty"/> x R$20,00</p>          
              <p class="stockStatus out"> Sem estoque</p>
            </div>  
           
            <div class="prodTotal cartSection">
              <p>R$20,00</p>
            </div>
              <div class="cartSection removeWrap">
              <a class="remove">x</a>
            </div>
          </div>
        </li> 
      </ul>
    </div>

    <hr> 
    <div class="promoCode">
      <label for="promo">Teve algum desconto na venda?</label>
      <label for="">Qual foi o valor?</label>
      <input type="text" name="promo" placholder="Enter Code" />
    </div>

    <div class="subtotal cf">
      <ul>
        <li class="totalRow">
          <span class="label">Subtotal</span>
          <span class="value">R$40,00</span>
        </li>
        <li class="totalRow">
          <span class="label">Desconto</span>
          <span class="value">- R$5,00</span>
        </li>
        <li class="totalRow final">
          <span class="label">Total</span>
          <span class="value">R$35,00</span>
        </li>
        <li class="totalRow">
          <a href="#" class="btn continue">Finalizar Venda</a>
        </li>
      </ul>
    </div>
  </div>
  <hr> 

  <div class="row align-items-end">
    <hr>

    <div>
      <button class="btn btn-success ml-1 mt-3 pull-right" (click)="showModal('Salvar', '')"><i
          class="fa fa-save"></i>Salvar</button>
      <button class="btn btn-warning ml-1 mt-3 pull-right" (click)="showModal('Cancelar edição', '')"><i
          class="fa fa-window-close"></i>Cancelar</button>
      <button class="btn btn-danger ml-1 mt-3 pull-right" *ngIf="itemForm.controls.id.value"
        (click)="showModal('Deletar', itemForm.controls.id.value)"><i class="fa fa-trash"></i>Remover</button>
    </div>
  </div>

</form>
<!-- ========== -->

<!-- Lista sem dados -->
<div *ngIf="!showForm && !tempItemsList?.length" class="alert alert-info " role="alert">
  <h4 class="alert-heading ">Opa !</h4>
  <p>Nenhum resultado foi encontrado.</p>
</div>
<!-- =============== -->

<app-yes-no-message [yesNoMessage]="yesNoMessage" *ngIf="showYesNoMessage"></app-yes-no-message>
<app-view-image [viewImage]="viewImage" *ngIf="showModalImage"></app-view-image>
