<div class="cards">
  <div class="card-single">
    <div>
      <h1>5</h1>
      <span>Contas a pagar</span>
    </div>
    <div>
      <span class="las la-users"></span>
    </div>
  </div>

  <div class="card-single">
    <div>
      <h1>12</h1>
      <span>Contas a receber</span>
    </div>
    <div>
      <span class="las la-stethoscope"></span>
    </div>
  </div>

  <div class="card-single">
    <div>
      <h1>18</h1>
      <span>Contas no total</span>
    </div>
    <div>
      <span class="las la-wheelchair"></span>
    </div>
  </div>

  <div class="card-single">
    <!-- <div>
      <h1>-</h1>
      <span>Calendario</span>
    </div>
    <div>
      <span class="lab la-wpforms"></span>
    </div> -->
    <div class='datepicker'>
      <div class="datepicker-header"></div>
    </div>
  </div>
</div>

<!-- Tabela -->
<div class="recent-grid">
  <div class="projects">
    <div class="card">
      <div class="card-header">
        <h3>Contas a pagar e receber</h3>

        <button>Mostrar todo <span class="las la-arrow-right">
        </span></button>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table width="100%">
            <thead>
              <tr>
                <td>Descrição</td>
                <td>Data</td>
                <td>Tipo</td>
                <td>Situação</td>
                <td>Opções</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>Salario de funcionario</td>
                  <td>7 de Agosto de 2021</td>
                  <td>A pagar</td>
                  <td><span class="status green"></span> Pago </td>
                  <button type="button" class="btn btn-info mr-2"><i class="fa fa-edit"></i></button>
                  <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>              
              </tr>
              <tr>
                <td>Recebimento de Fornecedor</td>
                <td>08/10/2021</td>
                <td>A receber</td>
                <td><span class="status red"></span> Pendente</td>
                <button type="button" class="btn btn-info mr-2"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
              </tr>
              <tr>
                <td>Julian Andres</td>
                <td>Quesada Carmona</td>
                <td>Quesada Carmona</td>
                <td><span class="status yellow"></span> Próximo ao vencimento </td>
                <button type="button" class="btn btn-info mr-2"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ========== -->
