.button-alter-canvas, .button-alter-filters {
    background: #D1ECF1;
    border-radius: 4px;
    color: #0C5488;
    padding: 0.5rem 1rem;
    border: 1px solid #D1ECF1;
    cursor: pointer;
    width: 100%;
}

.button-alter-canvas {
    margin-top: 2em;
}

.button-alter-filters {
    margin-top: 2em;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 3rem;
}

.card-single {
    display: flex;
    justify-content: center;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
}

.card {
    background: #fff;
}

.card-header {
    padding: 1rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.card-header button {
    background: #28A745;
    border-radius: 4px;
    color: #fff;
    padding: .5rem 1rem;
    border: 1px solid #28A745;
    cursor: pointer;
}

.filters label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right; /* aqui define o alinhamento */
    margin-right: 2em;
}

.filters input {
    /* display: block; */
    border: 1px solid #ced4da;
    margin-right: 2em;
}

.filters {
    margin: 3em;
}

.filters .date-filter{
    margin-bottom: 2em;
}

.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
}
.range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}
.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
}
.range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: '';
}

.comparativo-contas{
    width: 100%;
    height: 200px;
}

button:focus {
    outline:0;
}

/* ======= */

tr button i {
    margin-right: 1px;
}

tr button:last-child i{
    margin-right: 8px;
}

table {
    border-collapse: collapse;
}

table th {
    cursor: pointer;
}

table th:hover{
    color: #1F8FC3;
}

table th:last-child:hover{
    color: #000;
    cursor: default;
}

thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}

thead th {
    font-weight: 700;
}

td {
    padding: .6rem 1rem;
    font-size: .9rem;
    color: #222;
}

td .status {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 1rem;
}

tr td:last-child {
    display: flex;
    align-items: center;
}

table td:last-child{
    background-color: #fff;
}

ng-select {
    width: 100%;
}

.status.green {
    background: rgb(6, 192, 6);
}

.status.yellow {
    background: #ffe390;
}

.status.red {
    background: red;
}

.table-responsive {
    min-height: 280px;
    width: 100%;
    overflow-x: auto;
}

.table-row {
    border-radius: 20px;
    padding: 10px 15px;
}

.table-row--red {
    background-color: #fdeaea;
}

/* -------------------------- */

.empty {
    margin-top: 2em;
}