<!-- Graficos com dados das Contas -->
<div class="cards">
  <div>
    <div style="display: block">
      <button mat-button mat-raised-button color="primary" (click)="randomize()">Alternar visualização</button>
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
  </div>

  <!--Filtros -->
  <div class="filters">
    <div class="date-filter">
      <label for="data-ranger-picker">Período: </label>
      <input id="data-ranger-picker" placeholder="-- Selecione o período --"
          type="text" matInput
          ngxDaterangepickerMd
          [locale]="{ 
            format: 'DD/MM/YYYY',
            applyLabel: 'Concluir'
          }"
          startKey="start"
          endKey="end"
          [ranges]="ranges"
          [(ngModel)]="selected"
          name="daterange"
          alwaysShowCalendars = true
          class="datepicker-calendar-icon"/>
    </div>
    <div class="value-filter">   
      <div class="initial">
        <label for="initialValue">Valor inicial</label>
        <input  class="range-slider__range" type="range" name="initialValue" id="initialValue" min="0" max="1200" step="1" onmousemove="rangeInitialValue.value=value">
        <output id="rangeInitialValue"></output>
      </div>

      <div class="final">
        <label for="finalValue">Valor Final</label>
        <input  class="range-slider__range" type="range" name="finalValue" id="finalValue" min="0" max="1200" step="1" onmousemove="rangeFinalValue.value=value">
        <output id="rangeFinalValue"></output>
      </div>
    </div>
  </div>
  <!-- ========== -->
</div>
<!-- ============================= -->

<!-- Tabelas ===================== -->
<div class="tabset">
  <!-- Todas -->
  <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
  <label for="tab1">Todas as contas</label>

  <!-- A receber -->
  <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
  <label for="tab2">A receber</label>

  <!-- A pagar -->
  <input type="radio" name="tabset" id="tab3" aria-controls="dunkles">
  <label for="tab3">A pagar</label>
  
  <div class="tab-panels">
    <!-- Todas -->
    <section id="todas-contas" class="tab-panel">
      <div class="recent-grid">
        <div class="projects">
          <div class="card">
            <div class="card-header">
              <h3>Contas a pagar e receber</h3>
              <button type="button" (click)="showModal('Deletar', 'item')"> <i class="fa fa-plus"></i>Nova conta<span class="las la-arrow-right"></span></button>
            </div>
      
            <!-- Tabela -->
            <div class="card-body">
              <div class="table-responsive">
                <table  id="TodasAsContas" width="100%" #filteredTable>
                  <thead>
                    <tr>
                      <th (click)="sortTable(0, 'TodasAsContas')"><i class="fa fa-file"></i>Descrição</th>
                      <th (click)="sortTable(1, 'TodasAsContas')"><i class="fa fa-calendar"></i>Data</th>
                      <th (click)="sortTable(2, 'TodasAsContas')"><i class="fa fa-marker"></i>Tipo</th>
                      <th (click)="sortTable(3, 'TodasAsContas')"><i class="fa fa-money"></i>Valor (R$)</th>
                      <th (click)="sortTable(4, 'TodasAsContas')">Situação</th>
                      <th>Opções</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><input class="form-control" type="search" placeholder="Descrição"></td>
                      <td><input class="form-control" type="search" placeholder="Data"></td>
                      <td>      
                        <ng-select name="tipo" placeholder="Tipo">
                          <ng-option value="A pagar">A pagar</ng-option>
                          <ng-option value="A receber">A Receber</ng-option>
                        </ng-select>
                      </td>
                      <td><input class="form-control" type="search" placeholder="Valor" prefix="R$ " mask="separator.2"></td>
                      <td>
                        <ng-select name="situacao" placeholder="Situação">
                          <ng-option value="Pago">Pago</ng-option>
                          <ng-option value="Recebido">Recebido</ng-option>
                          <ng-option value="Pedente">Pendente</ng-option>
                        </ng-select>
                      </td>
                      <td></td>
                    </tr>

                    <tr *ngFor="let item of tempItemsList" [ngClass]="item.situacao === 'Pendente' ? 'table-row--red' : ''">
                      <td>{{ item?.descricao }}</td>
                      <td>{{ reverseStringDate(item?.data) | mask: 'd0/M0/0000' }}</td>
                      <td>{{ item.tipo }}</td>
                      <td>{{ item.valor }}</td>
                      <td>
                        <span [ngClass]="item.situacao === 'Pendente' ? 'status red' : 'status green'"></span>
                        {{ item.situacao }}
                      </td>
                      <td>
                        <button type="button" class="btn btn-info mr-2"><i class="fa fa-edit"></i></button>
                        <button type="button" class="btn btn-danger mr-2" *ngIf="item.situacao === 'Pendente'" (click)="showModalYesNo('Deletar', item)"><i class="fa fa-trash"></i></button>
                        <button type="button" class="btn btn-light shadow-button" *ngIf="item.situacao === 'Pendente'" (click)="showModalYesNo('Pagar', item)">Pagar</button>            
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- ------ -->
          </div>
        </div>
      </div>
    </section>

    <!-- A receber -->
    <section id="a-receber" class="tab-panel">
      <div class="recent-grid">
        <div class="projects">
          <div class="card">
            <div class="card-header">
              <h3>A receber</h3>
              <button type="button" (click)="showModal('Deletar', 'item')"> <i class="fa fa-plus"></i>Nova conta<span class="las la-arrow-right"></span></button>
            </div>
      
            <!-- Tabela -->
            <div class="card-body">
              <div class="table-responsive">
                <table  id="contasReceber" width="100%" #filteredTable>
                  <thead>
                    <tr>
                      <th (click)="sortTable(0, 'contasReceber')"><i class="fa fa-file"></i>Descrição</th>
                      <th (click)="sortTable(1, 'contasReceber')"><i class="fa fa-calendar"></i>Data</th>
                      <th (click)="sortTable(2, 'contasReceber')"><i class="fa fa-money"></i>Valor (R$)</th>
                      <th (click)="sortTable(3, 'contasReceber')">Situação</th>
                      <th>Opções</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><input class="form-control" type="search" placeholder="Descrição"></td>
                      <td><input class="form-control" type="search" placeholder="Data"></td>
                      <td><input class="form-control" type="search" placeholder="Valor" prefix="R$ " mask="separator.2"></td>
                      <td>
                        <ng-select name="situacao" placeholder="Situação">
                          <ng-option value="Recebido">Recebido</ng-option>
                          <ng-option value="Pedente">Pendente</ng-option>
                        </ng-select>
                      </td>
                      <td></td>
                    </tr>

                    <ng-container *ngFor="let item of tempItemsList">
                      <tr *ngIf="item.tipo === 'A receber'" [ngClass]="item.situacao === 'Pendente' ? 'table-row--red' : ''">
                        <td>{{ item?.descricao }}</td>
                        <td>{{ reverseStringDate(item?.data) | mask: 'd0/M0/0000' }}</td>
                        <td>{{ item.valor }}</td>
                        <td>
                          <span [ngClass]="item.situacao === 'Pendente' ? 'status red' : 'status green'"></span>
                          {{ item.situacao }}
                        </td>
                        <td>
                          <button type="button" class="btn btn-info mr-2"><i class="fa fa-edit"></i></button>
                          <button type="button" class="btn btn-danger mr-2" *ngIf="item.situacao === 'Pendente'" ><i class="fa fa-trash"></i></button>
                          <button type="button" class="btn btn-light shadow-button" *ngIf="item.situacao === 'Pendente'">Pagar</button>            
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- ------ -->
          </div>
        </div>
      </div>
    </section>

    <!-- A pagar -->
    <section id="a-pagar" class="tab-panel">
      <div class="recent-grid">
        <div class="projects">
          <div class="card">
            <div class="card-header">
              <h3>A pagar</h3>
              <button type="button" (click)="showModal('Deletar', 'item')"> <i class="fa fa-plus"></i>Nova conta<span class="las la-arrow-right"></span></button>
            </div>
      
            <!-- Tabela -->
            <div class="card-body">
              <div class="table-responsive">
                <table id="contasPagar" width="100%" #filteredTable>
                  <thead>
                    <tr>
                      <th (click)="sortTable(0, 'contasPagar')"><i class="fa fa-file"></i>Descrição</th>
                      <th (click)="sortTable(1, 'contasPagar')"><i class="fa fa-calendar"></i>Data</th>
                      <th (click)="sortTable(2, 'contasPagar')"><i class="fa fa-money"></i>Valor (R$)</th>
                      <th (click)="sortTable(3, 'contasPagar')">Situação</th>
                      <th>Opções</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><input class="form-control" type="search" placeholder="Descrição"></td>
                      <td><input class="form-control" type="search" placeholder="Data"></td>
                      <td><input class="form-control" type="search" placeholder="Valor" prefix="R$ " mask="separator.2"></td>
                      <td>
                        <ng-select name="situacao" placeholder="Situação">
                          <ng-option value="Pago">Pago</ng-option>
                          <ng-option value="Pedente">Pendente</ng-option>
                        </ng-select>
                      </td>
                    </tr>

                    <ng-container *ngFor="let item of tempItemsList">
                      <tr *ngIf="item.tipo === 'A pagar'" [ngClass]="item.situacao === 'Pendente' ? 'table-row--red' : ''">
                        <td>{{ item?.descricao }}</td>
                        <td>{{ reverseStringDate(item?.data) | mask: 'd0/M0/0000' }}</td>
                        <td>{{ item.valor }}</td>
                        <td>
                          <span [ngClass]="item.situacao === 'Pendente' ? 'status red' : 'status green'"></span>
                          {{ item.situacao }}
                        </td>
                        <td>
                          <button type="button" class="btn btn-info mr-2"><i class="fa fa-edit"></i></button>
                          <button type="button" class="btn btn-danger mr-2" *ngIf="item.situacao === 'Pendente'"><i class="fa fa-trash"></i></button>
                          <button type="button" class="btn btn-light shadow-button" *ngIf="item.situacao === 'Pendente'">Pagar</button>            
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- ------ -->
          </div>
        </div>
      </div>
    </section>
  </div> 
</div>
<!-- ============================= -->

<app-modal-contas [modalContas]="modalContas" *ngIf="showModalContas"></app-modal-contas>
<app-yes-no-message [yesNoMessage]="yesNoMessage" *ngIf="showYesNoMessage"></app-yes-no-message>
