.background {
    height: 100%;
    width: 100%;
    padding-top: 65px;
    background-color: #E2EEF2;
}

.center {
    overflow: auto;
    margin: auto;
    background-color: white;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%);
    width: 90%;
    height: 85%;
    padding: 50px;
}

form {
    margin-top: 25px;
}

/* Fixar coluna e cabeçalho de opções ================== */
thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
}

thead th:last-child {
    right: 0;
    z-index: 1;
}

tbody th {
    box-shadow: 0 0 5px 0 rgb(5 5 5 / 10%);
    background: #FFF;
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    right: 0;
}
/* ========================================= */

.app-wrapper {
    height: 100%;
    min-width: 100%;
}
