
<h3>Historico de produto</h3>

<!-- form cabeçalho -->
<div class="cabecalho">
    <form [formGroup]="headForm">
        <div class="form-row">
            
            <div class="form-group col-md-6"> 
                <label for="produto">Produto</label>                   
                <ng-select formControlName="product" name="product" (change)="Search('cod_produto', $event.id)">
                    <ng-component *ngFor="let produto of produtos">
                        <ng-option [value]="produto"> 
                            <span class="productOption productSelection selesctionItem"> {{ produto.produto.descricao }} </span> 
                            <span class="productOption reasonSelection selesctionItem"> {{ produto.qualidade.nome }} </span> 
                            <span class="productOption companySelection selesctionItem"> {{ produto.fornecedor.razao_social_nome }} </span>
                        </ng-option>
                    </ng-component>
                </ng-select>
            </div>  

            <div class="form-group col-md-3">
                <label for="data">Data Início <i class="fa fa-question-circle" tooltip="Gostaria de visualizar o historico partindo de qual dia?"></i></label>
                <input class="form-control" formControlName="inicio"  name="inicio" type="date">
            </div>  

            <div class="form-group col-md-3">
                <label for="data">Data Término <i class="fa fa-question-circle" tooltip="Gostaria de visualizar o historico até qual dia?"></i></label>
                <input class="form-control" formControlName="fim" name="fim" type="date">
            </div>  
        </div>

    </form>
</div>          
<!-- ============== -->

<div class="row d-flex justify-content-around btn-prod">
    <button type="button"  class="btn btn-success btn-lg" (click)="Search('produto.descricao', $event.target.value)"><i class="fa fa-print"></i>Gerar Relatório</button>
    <button type="button"  class="btn btn-primary btn-lg"><i class="fa fa-play-circle"></i>Baixar Relatório</button>
</div>

<!-- <ng-select formControlName="product" name="product">
    <ng-component *ngFor="let movimentacao of movimentacoes">
        <ng-option [value]="movimentacao"> 
            <span class="productOption productSelection selesctionItem"> {{ movimentacao.data }} </span> 
        </ng-option>
        </ng-component>
    </ng-select> -->

<div class="table-list table-shadow">
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col"> <i class="fa fa-calendar"></i>Dia</th>
            <th scope="col"> <i class="fa fa-history"></i>Horário</th>
            <th scope="col"> <i class="fa fa-list"></i>E/S</th>
            <th scope="col"> <i class="fa fa-map-pin" tooltip="Origem da movimentação"></i>Tipo</th>
            <th scope="col"> <i class="fa fa-exclamation-circle" tooltip="Código da origem da movimentação"></i>Número</th>
            <th scope="col"> <i class="fa fa-question-circle" tooltip="Saldo após a movimentação"></i>Saldo Anterior</th>
            <th scope="col"> <i class="fa fa-question-circle" tooltip="Quantidade que foi movimentada"></i>Movimentado </th>
            <th scope="col"> <i class="fa fa-question-circle" tooltip="Saldo após a movimentação"></i>Saldo </th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movimentacao of tempItemsList">
                <td >{{ sharedVariableService.currentDate(movimentacao.data) }}</td>
                <td>{{ sharedVariableService.currentTime(movimentacao.data) }}</td>
                <td> 
                    <div class="saida" *ngIf="movimentacao.entrada_saida === 'S' ">Saida</div>
                    <div class="entrada" *ngIf="movimentacao.entrada_saida === 'E'">Entrada</div>
                </td>
                <td>{{ movimentacao.tipo }}</td>
                <td>{{ movimentacao.numero_tipo }}</td>
                <td>{{ movimentacao.saldo_anterior }}</td>
                <td>
                    <div *ngIf="movimentacao.entrada_saida === 'S'">- {{ movimentacao.dif }}</div>
                    <div *ngIf="movimentacao.entrada_saida === 'E'">+ {{ movimentacao.dif }}</div>
                    </td>
                <td>{{ movimentacao.saldo_atual }}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Lista sem dados -->
<div *ngIf="!showForm && !tempItemsList?.length"  class="alert alert-info " role="alert">
    <h4 class="alert-heading ">Opa !</h4>
    <p>Nenhum resultado foi encontrado.</p>
</div>
<!-- =============== -->


