<div class="d-flex background">
    <div class="center">
        <h3>Historico de produto</h3>
  
      <!-- form cabeçalho -->
        <div class="cabecalho">
            <form [formGroup]="headForm">
                <div class="form-row">
                    
                    <div class="form-group col-md-6"> 
                        <label for="tipo_relatorio">Produto</label>                   
                        <select class="custom-select">
                            <option value="1">Papelão - Solto sujo - Empresa 1</option>
                            <option value="2">Latinha 2 - Solto limpo - Empresa 1</option>
                            <option value="3">Sacola - Plastico - EMpresa 2</option>
                        </select>
                    </div>  

                    <div class="form-group col-md-3">
                        <label for="data">Data Início <i class="fa fa-question-circle" tooltip="Gostaria de visualizar o historico partindo de qual dia?"></i></label>
                        <input class="form-control" formControlName="data-inicio" type="date">
                    </div>  

                    <div class="form-group col-md-3">
                        <label for="data">Data Término <i class="fa fa-question-circle" tooltip="Gostaria de visualizar o historico até qual dia?"></i></label>
                        <input class="form-control" formControlName="data-fim" type="date">
                    </div>  
                </div>
            </form>
        </div>          
        <!-- ============== -->

        <div class="row d-flex justify-content-around btn-prod">
            <button type="button"  class="btn btn-success btn-lg"><i class="fa fa-print"></i>Gerar Relatório</button>
            <button type="button"  class="btn btn-primary btn-lg"><i class="fa fa-play-circle"></i>Baixar Relatório</button>
        </div>
        
        <div class="cabecalho col-md-12 center"> 
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col"> <i class="fa fa-calendar"></i>Dia</th>
                    <th scope="col"> <i class="fa fa-history"></i>Horario</th>
                    <th scope="col"> <i class="fa fa-male"></i>Responsavel</th>                    
                    <th scope="col"> <i class="fa fa-list"></i>E/S</th>
                    <th scope="col"> <i class="fa fa-map-pin" tooltip="Quando essa movimentação aconteceu"></i>Tipo</th>
                    <th scope="col">Qunatidade movimentada <i class="fa fa-question-circle" tooltip="Soma total de cada tambor usados na produção atual"></i></th>
                    <th scope="col">Saldo <i class="fa fa-question-circle" tooltip="Soma total de cada tambor usados na produção atual"></i></th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td >14 de Fevereiro</td>
                        <td>19:30:42</td>
                        <td>Marcos Andrade</td>
                        <td> <div class="saida">Saida</div></td>
                        <td>Prensa</td>
                        <td><div class="inOutProduct outProduct">-50</div></td>
                        <td>110</td>
                    </tr>
                    <tr>
                        <td >14 de Fevereiro</td>
                        <td>19:30:42</td>
                        <td>Marcos Andrade</td>
                        <td><div class="entrada">Entrada</div></td>
                        <td>Triagem</td>
                        <td><div class="inOutProduct inProduct">+150</div></td>
                        <td>160</td>
                    </tr>
                    <tr>
                        <td >14 de Fevereiro</td>
                        <td>19:30:42</td>
                        <td>Maria Helena</td>
                        <td><div class="entrada">Entrada</div></td>
                        <td>Triagem</td>
                        <td><div class="inOutProduct inProduct">+10</div></td>
                        <td tooltip="0 + 10">10</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
