<div class="d-flex background">
    <div class="center">
      <h2 class="d-flex justify-content-between">Transportadoras    
          <button class="btn btn-success" *ngIf="!showForm" (click)="showForm = !showForm; loadForm()"><i class="fa fa-sign-in"></i>Cadastrar</button>
      </h2>

        <!-- Tabela -->
        <table class="table table-hover" *ngIf="!showForm">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">CNPJ/CPF</th>
                <th scope="col">Razão social/Nome</th>
                <th scope="col">IE</th>
                <th scope="col">Endereço</th>
                <th scope="col">Número</th>
                <th scope="col">Complemento</th>
                <th scope="col">Bairro</th>
                <th scope="col">CEP</th>
                <th scope="col">UF</th>
                <th scope="col">Cidade</th>
                <th scope="col">Telefone</th>
                <th scope="col">Email</th>
                <th scope="col">Opções</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tempItemsList">
                <td>{{ item?.id }}</td>
                <td>{{ item?.CNPJ_CPF }}</td>
                <td>{{ item?.razao_social_nome }}</td>
                <td>{{ item?.IE }}</td>
                <td>{{ item?.endereco }}</td>
                <td>{{ item?.numero }}</td>
                <td>{{ item?.complemento }}</td>
                <td>{{ item?.bairro }}</td>
                <td>{{ item?.CEP }}</td>
                <td>{{ item?.UF }}</td>
                <td>{{ item?.cidade }}</td>
                <td>{{ item?.telefone }}</td>
                <td>{{ item?.email }}</td>
                <td>
                    <button type="button" class="btn btn-info mr-2" (click)="updateItem(item)"><i class="fa fa-edit"></i>Editar</button>
                    <button type="button" class="btn btn-danger" (click)="showModal('Deletar', item)"><i class="fa fa-trash"></i>Remover</button>
                </td>
              </tr>
            </tbody>
          </table>
        <!-- ========== -->

        <!-- Formulario -->
        <hr>

        <form [formGroup]="itemForm" *ngIf="itemForm && showForm">
              
          <div class="form-row">
            <div class="form-group col-md-8">  
              <label>Razão social/Nome: </label>
              <input class="form-control" type="text" maxlength="100" formControlName="razao_social_nome">
            </div>
            
            <div class="form-group col-md-4">
              <input formControlName="id" hidden="true">
              <label>CNPJ/CPF: </label>
              <input class="form-control" mask="000.000.000-00||00.000.000/0000-00" type="text" formControlName="CNPJ_CPF">
            </div>
          </div>
          
          <div class="form-row">
            <div class="form-group col-md-3">
              <label>Telefone: </label>
              <input class="form-control" mask="(00) 0000-0000||(00) 00000-0000" type="text" formControlName="telefone" placeholder="Ex: (19) 9999-9999">
            </div>
            
            <div class="form-group col-md-5">
              <label>Email: </label>
              <input class="form-control" type="email" maxlength="100" formControlName="email" placeholder="Ex: exemplo@email.com">
            </div>
            <div class="form-group col-md-3">
              <label>IE: <i class="fa fa-question-circle" tooltip="Inscrição Estadual"></i></label>
              <input class="form-control" type="text" maxlength="100" formControlName="IE">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-5">
              <label>Endereço: </label>
              <input class="form-control" type="text" maxlength="100" formControlName="endereco">
            </div>
            
            <div class="form-group col-md-2">
              <label>Número: </label>
              <input class="form-control" type="text" maxlength="100" formControlName="numero">
            </div>

            <div class="form-group col-md-5">
              <label>Complemento: </label>
              <input class="form-control" type="text" maxlength="100" formControlName="complemento">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-3">
              <label>Bairro: </label>
              <input class="form-control" type="text" maxlength="100" formControlName="bairro">
            </div>

            <div class="form-group col-md-3">
              <label>UF: </label>
              <input class="form-control" type="text" maxlength="100" formControlName="UF">
            </div>

            <div class="form-group col-md-3">
              <label>Cidade: </label>
              <input class="form-control" type="text" maxlength="100" formControlName="cidade">
            </div>
            
            <div class="form-group col-md-3">
              <label>CEP: </label>
              <input class="form-control" mask="00000-000" type="text" formControlName="CEP" placeholder="Ex: 99999-999">
            </div>
          </div>
        
          <div class="row align-items-end">
            <hr>
  
            <div>
              <button class="btn btn-success ml-1 mt-3 pull-right" (click)="showModal('Salvar', '')"><i class="fa fa-save"></i>Salvar</button>
              <button class="btn btn-warning ml-1 mt-3 pull-right" (click)="showModal('Cancelar edição', '')"><i class="fa fa-window-close"></i>Cancelar</button>
              <button class="btn btn-danger ml-1 mt-3 pull-right" *ngIf="itemForm.controls.id.value" (click)="showModal('Deletar', itemForm.controls.id.value)"><i class="fa fa-trash"></i>Remover</button>
            </div>
          </div>
          <p>Form Status: {{ itemForm.status }}</p>
          
        </form>
        <!-- ========== -->
       
        <!-- Lista sem dados -->
        <div *ngIf="!showForm && !tempItemsList?.length"  class="alert alert-info " role="alert">
          <h4 class="alert-heading ">Opa !</h4>
          <p>Nenhum resultado foi encontrado.</p>
        </div>
        <!-- =============== -->

    </div>
</div>  

<app-yes-no-message [yesNoMessage]="yesNoMessage" *ngIf="showYesNoMessage"></app-yes-no-message>
