#nav {
    height: 65px;
    width: 100%;
    padding: 6px;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgb(175 165 165 / 19%), 0 6px 20px 0 rgb(175 165 165 / 19%);
    z-index: 1;
}

#nav a, #nav button {
    color: rgb(201, 201, 201);
    font-size: 20px;
    cursor: pointer;
}
#nav a:hover, #nav button:hover {
    color: white;
}

.dropdown-menu a {
    color: rgb(201, 201, 201);
    font-size: 20px;
}
.dropdown-menu a:hover {
    color: white;
    background-color: #343A40;
}

.dropdown-menu {
    margin-top: 10px;
    font-size: 20px;
    background-color: #343A40;
    border: none;
    border-radius: 0px;
}

.dropdown-config {
    left: -95px!important;
}
