label {
    font-weight: 500;
    color: white;
}

form.cabecalho {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 19%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    background-color: #333B3F;
    padding: 15px;
    margin-bottom: 25px;
}

input#fornecedor-triagem{
    width: 100%;
    padding-left: 10px;
    padding-right: 50px;
    color: #333;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    min-height: 36px;
    align-items: center;
    cursor: default;
}

.btn-prod button {
    margin: 10px 0;  
    color: white;
    padding: 15px 20px;
    font-weight: 700;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 19%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

/* ===================================================== */

.my-avatar {
    display: inline-block;
}

.foto-socio{
    cursor: pointer;
}

.yesNoButton{
    width: 120px;
}

.pause-screen-body {
    max-height: 800px;
}

span {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 230px;
    display: block;
    overflow: hidden
}

ngx-avatar {
    display: inline-block;
}

.table-list {
    margin-bottom: 40px;
}

tr {
    background-color: #dedede;
}

td.qtn {
    max-width: 100px;
}

td.options {
    text-align: right;
}

/* Fixar coluna e cabeçalho de opções ================== */
thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
}

thead th:last-child {
    right: 0;
    z-index: 1;
}

tbody td:last-child {
    position: -webkit-sticky; /* for Safari */
    background: #e7e4e4;
    position: sticky;
    right: 0;
}
/* ========================================= */

.productOption {
    display: inline-block;
}

/* Seleção de produto ========================================= */
.selesctionItem {
    color: white;
    border-radius: 20px;
    padding: 1px 15px;
    margin-top: 6px;
    margin-right: 5px;
}

.productSelection {
    background-color: #17A2B8;
}

.reasonSelection {
    background-color:  #be46c0;
}

.companySelection {
    background-color:  #397cc2;
}

/* Sucesso Triagem ============================================= */

/* Panels Style*/
/* •••••••••••••••••••••••••••••••• */

/* Common panel style */
.panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    z-index: 999;
    color: #000;
    box-sizing: border-box;
    background-color: #ECEFF1; }
    
    
    /* panel content (only for animation delay after open) */
    .panel__content {
    opacity: 0;
    will-change: margin-top;
    transition: all 700ms; 
    transition-delay: 600ms;
    padding: 100px 200px;
    margin-top: -5%; }
    
    /* Panel content animation after open */
    .panel:target .panel__content {
    opacity: 1;
    margin-top: 0; }
    
    
    /*  Specific "Home "panel */
    /* •••••••••••••••••••••••••••••••• */
    
    .panel#home {
    z-index: 1;
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,#CFD8DC 100%); }
    
    
    /*  Specific panel "Slice" */
    /* •••••••••••••••••••••••••••••••• */
    
    .panel#slice {
    background-color: #E53935;
    transition: all 800ms cubic-bezier(0.190, 1.000, 0.560, 1.000);
    transform: translate3d( 0, -100%, 0 ); }
    
    .panel#slice:target {
    transform: translate3d( 0, 0, 0 ); }
    
    /*  Specific panel "Fade" effect */
    /* •••••••••••••••••••••••••••••••• */
    
    .panel#fade {
    background-color: #00C853;
    opacity: 0;
    transition: all 800ms;
    pointer-events: none; }
    
    .panel#fade:target {
    opacity: 1;
    pointer-events: auto; 
}