@import "~@ng-select/ng-select/themes/default.theme.css";

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    margin: 0px;  /*removes default style*/
    display: flex;  /*enables flex content for its children*/
    box-sizing: border-box;
    position: fixed;
}

i {
    margin-right: 10px;
}

div.table-list table {
    margin-bottom: 0.1px;
}

th, td {
    vertical-align: middle;
    white-space: nowrap;
    min-width: 170px;
}

td.td-pequeno {
    min-width: 130px;
}

.table-list {
    margin-top: 20px;  
    overflow-x:auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 80%;
}

/*Scrowbar =============================================================================== */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #343A40;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); /*For the "inset" look only*/
}

::-webkit-scrollbar-track-piece {
    background: rgb(177, 177, 177);
}

app-root {
    min-width: 100%;
}

.error-msg {
    color: rgb(255, 131, 109);
}