.background {
    height: 100%;
    width: 100%;
    padding-top: 65px;
    background-color: #e8e7e7;
}


.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    max-width: 600px;
    height: 50%;
    padding: 60px;
}

